
.header {
  box-shadow: 1px 3px 10px rgb(0 0 0 / 5%);
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 1px 3px 10px rgb(0 0 0 / 5%);
}

.header__logo {
  width: 135px;
  height: 30px;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

.header__user-logo {
  display: none;
}

.header__search-container {
  display: flex;
  margin-right: 20px;
  align-items: center ;
  width: 100%;
}

.header__search-input {
  width: 100%;
  min-width: 150px;
  box-sizing: border-box;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  outline: none;
  color: #BBC4D6;
  padding-left: 39px;
  position: relative;
}

.header__search-input::placeholder {
  
}

.header__search-image {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 12px;
}

.header__user-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: #EBEBF1 1px solid;
  padding: 20px;
  cursor: pointer;
}

.header__user-name {
  margin-right: 10px;
  color: #768298;
}

.header__user-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


@media screen and (max-width: 550px) {
    .header__wrapper {
      flex-direction: column;
    }
    .header__logo-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-bottom: #EBEBF1 1px solid;
      padding-bottom: 20px;
    }
  
    .header__user-logo {
      display:block;
      width: 25px;
      height: 25px;
      padding-top: 25px;
      padding-right: 20px;
    }
    .header__user-profile{
      display: none;
    }
  
    .header__search-input {
      border: none;
    }
  }
  
  @media screen and (min-width: 768px) {
  
  
    .header__logo {
      padding-right: 50px;
    }
  
    .header__search-container {
    margin-right: 60px;
  
  }
  
  }
