@import-normalize;

.partners {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}


.partners__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  flex-direction: column;
  row-gap: 20px; 
}

.partners__block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 10px;
  height: 62px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  flex-grow: 0;
}

.partners__block:hover {
  cursor: pointer;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

.partners__image {
  max-width: 100%;
}


@media screen and (min-width: 768px) {
  .partners__container {
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
  }

  .partners__block {
    width: 220px;
    height: 120px;
  }
}

@media screen and (min-width: 1240px) {
  .partners__container {
    column-gap: 30px;
    row-gap: 30px;
  }

  
  .partners__block {
    width: 220px;
    height: 120px;
  }
}