@import-normalize;

.header {

}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 5%);
}

.header__logo {
  width: 135px;
  height: 30px;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

.header__user-logo {
  display: none;
}

.header__search-container {
  display: flex;
  margin-right: 20px;
  align-items: center ;
  width: 100%;
}

.header__search-input {
  width: 100%;
  min-width: 150px;
  box-sizing: border-box;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  outline: none;
  color: #BBC4D6;
  padding-left: 39px;
  position: relative;
}

.header__search-input::placeholder {
  
}

.header__search-image {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 12px;
}

.header__user-profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: #EBEBF1 1px solid;
  padding: 20px;
  cursor: pointer;
}

.header__user-name {
  margin-right: 10px;
  color: #768298;
}

.header__user-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.partners {
  padding-top: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.partners__title {
  font-family: sans-serif;
  margin-bottom: 30px;
  font-size: 28px;
}

.partners__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
  padding: 0;
  flex-direction: column;
  row-gap: 20px; 
}

.partners__block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 10px;
  height: 62px;
  /* width: 100%; */
  background: #FFFFFF;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  flex-grow: 0;
  transition: ease-in-out .2s;
}

.partners__block:hover {
  cursor: pointer;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
  transform: scale(1.01);
  transition: ease-in-out .2s;
}

.partners__image {
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 550px) {
  .header__wrapper {
    flex-direction: column;
  }
  .header__logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: #EBEBF1 1px solid;
    padding-bottom: 20px;
  }

  .header__user-logo {
    display:block;
    width: 25px;
    height: 25px;
    padding-top: 25px;
    padding-right: 20px;
  }
  .header__user-profile{
    display: none;
  }

  .header__search-input {
    border: none;
  }
}

@media screen and (min-width: 768px) {


  .header__logo {
    padding-right: 50px;
  }

  .header__search-container {
  margin-right: 60px;

}

  .partners {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .partners__title {
    font-size: 28px;
  }

  .partners__container {
    flex-direction: row;
    column-gap: 20px;
    row-gap: 20px;
  }

  .partners__block {
    width: 208px;
  }
}

@media screen and (min-width: 1240px) {
  .partners {
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .partners__container {
    column-gap: 30px;
    row-gap: 30px;
  }

  
  .partners__block {
    width: 265.5px;
  }

  .partners__title {
    font-size: 36px;
  }

}